#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: left;
    font-family: "Myriad Regular", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    /* background-color: #000000; */
    background: linear-gradient(to bottom,
            #000000,
            #050505 50%,
            #111010 50%,
            #000000);
    background-size: 100% 60px;
    color: #fff;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1px;
}

::placeholder {
    /* padding-left: 18px !important; */
}

.toast-message {
    background: darkblue;
    color: #fff;
    font-size: 20px;
    width: 34vw;
    padding: 30px 20px;
}

.not_support {
    display: none;
}

@media (max-width: 768px) {
    .body_section {
        display: none;
    }

    .not_support {
        display: block;
        align-items: center;
        justify-content: center;
        margin: 11rem auto;
    }
}